{% extends 'base.html.twig' %}

{% block title %}Modifier mont mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mont mot de passe</h1><br/>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    
    <a href="{{ path('app_account') }}">Retourner à mon compte</a>
    <hr>
    {{ form(form) }}
{% endblock %}
